<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.footballzone">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.FootballZone"
        android:label="Football Zone"
        android:usesCleartextTraffic="true">

        <activity android:name=".MainActivity"
            android:exported="true">  <!-- Добавлено android:exported -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
